
/*======================================
            Home section start  
========================================*/
.image-grid-section{
    background-color: #fcf8e773;
}
.main-container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container-flex .left-side-content img{
    width: 611px;
}

.left-side-content .large-content .img-content{
    position: relative;
    top: -355px;
    left: 39px;
}
.left-side-content .large-content{
    height: 400px;
}

.left-side-content .large-content .img-content h6{
    color: var(--orange);
    font-size: 16.5px;margin-bottom: 5px;
    margin-bottom: 15px;
}

.left-side-content .large-content .img-content h2{
    margin-bottom: 20px;
}

.left-side-content .large-content .img-content p{
    width: 36%;
    margin-bottom: 30px;
}


/* ========= right side imgs  ==============*/

.main-container-flex .right-side-content img{
    width: 300px;
}
.right-grid-img{
    margin-left: 23px;
    display: grid;
    grid-template-columns: repeat(2,300px);
    grid-template-rows: repeat(2,200px);
    column-gap: 13px;
    row-gap: 8px;

}


.right-side-content .small-content .img-content-2{
    position: relative;
    top: -159px;
    left: 20px;
}
.right-side-content .small-content .img-content-2 h6{
    color: var(--orange);
}
.right-side-content .small-content .img-content-2 h2{
    font-size: 16.5px;
}
.right-side-content .small-content .img-content-2 p{
    font-size: 13px;
    width: 60%;
    font-size: 1rem;
}

/*============== home end ============*/
